<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qlik Bot</title>

    <link rel="stylesheet" href="C:/Users/DSIBEAC/Documents/CHAT/azyrusthemes.com/forum2019/public/css/style1.css">
</head>
<body>
    <div class="chatbot-container">
        <div class="chatbot-header">
            <h2>Qlik Bot</h2>
        </div>
        <div class="chatbot-messages">
            <div class="message bot">
                <p>Comment puis-je t'aider?</p>
            </div>
            <div class="message user">
                <p>J'ai une question d'assistance produit</p>
            </div>
            <div class="message bot">
                <p>Vers quelle équipe d’assistance puis-je vous orienter ?</p>
            </div>
            <div class="message bot">
                <p>Il est enfin là <span>🔥</span><br>
                Qlik Talent Cloud fournit des données de haute qualité prêtes pour l'IA en temps réel avec un pipeline de données sans code</p>
            </div>
        </div>
        <div class="chatbot-options">
            <button>Je suis intéressé, dites-m'en plus !</button>
            <button>Je suis là pour autre chose</button>
        </div>
        <div class="chatbot-input">
            <input type="text" placeholder="Message...">
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    $('#chat-toggle-btn').click(function() {
        $('#chat-container').toggle();
    });
});
</script>
</html>
