<head>
    <meta charset="utf-8">
    <title><%= title %> </title>
    <meta name="keywords" content="ejs5 Template">
    <meta name="description" content="Forum - Responsive ejs5 Template">
    <meta name="author" content="Forum">
    <link rel="icon" type="image/jpeg" href="/image/logo_beac.jpeg">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.tiny.cloud/1/rf4ic2d7ap7doreziat8imyc7ur7s3e6k6flnzj2zc79mitz/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/notifications.js"></script>
</head>
